<!doctype html>
<html lang="pt-br">
    <head>
        <title>Meu Primeiro App em Express JS</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>