<nav class="navbar navbar-light bg-primary">
    <a class="navbar-brand" href="/"><img class="mybox" src="/img/home.png" alt=""></a>
    <a href="/perguntar" class="text-white">Fazer Pergunta</a>
</nav>